@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Onest:wght@100..900&display=swap");

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
p,
button, label, input, select, option {
  font-family: "Onest", sans-serif;}


/* 
.hero {
  background-image: url("./assets/images/Hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */
.footer-li li:hover{
  color: #bcde00;
  cursor: pointer;
}


